* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #2C2C2C;
  height: 720px;
  overflow: hidden;

  .mobileHeader {

  }

  .App_backIcon {
    padding: 27px 29px;
  }

  .App_items {
    display: flex;

    .App_text {
      position: absolute;
      font-family: Suisse Intl;
      width: 416px;
      color: #fff;
      margin-top: 209px;
      margin-left: 160px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
      }

      h1 {
        font-size: 52px;
        font-weight: bold;
        line-height: 58px;

        @media(max-width: 360px) {
          font-size: 45px;
          line-height: 48px;
        }
      }

      @media(max-width: 768px) {
        margin-top: 97px;
        margin-left: 40px;
      }
      @media(max-width: 360px) {
        margin-top: 50px;
        width: 100%;
        margin-left: 0;
        text-align: center;
      }
    }

    .App_items_img {
      width: 1010px;
      height: 555px;
      padding-top: 83.5px;
      padding-right: 96px;
      padding-bottom: 0.5px;
      padding-left: 814px;

      @media (max-width: 1772px) {
        padding-right: 6px;
      }
      @media (max-width: 1681px) {
        padding-right: -26px;
      }
      @media(max-width: 1440px) {
        padding-top: 70px;
        padding-left: 588px;
      }
      @media(max-width: 768px) {
        width: 576px;
        height: 356.44px;
        padding-top: 62px;
        padding-left: 306px;
        margin: 0;
      }
      @media(max-width: 360px) {
        padding-top: 204.81px;
        padding-left: 0;
        transform: scale(-1, 1);
      }
    }
  }

  @media(max-width: 768px) {
    .wrapper_search {
      display: none;
    }
    .App_text {
      position: absolute;
    }
    .App_items_img {
      margin-left: 150px;
      width: 576px;
      height: 356px;
    }
  }
  @media(min-width: 769px) {
    .App_backIcon {
      display: none;
    }
  }
}

.form_search {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 45px;
  right: 22px;
  cursor: pointer;
  opacity: 0;
}

.wrapper_search {
  vertical-align: top;
  text-align: center;

  .wrapper_search-item {
    position: relative;
    display: inline-block;
  }

  .search {
    width: 280px;
    background-color: #fff;
    border-radius: 23px;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 22px;
    margin-top: 37px;
  }

  .form-label {
    position: absolute;
    pointer-events: none;
    left: -172px;
    top: 40px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
  }

  .form-icon {
    position: absolute;
    right: 6px;
    top: 43.5px;
    padding: 11px;
    border-radius: 100px;
    background-color: #FF7D5A;
  }

}

.search:focus ~ .form-label,
.search:not(:focus):valid ~ .form-label {
  top: 27px;
  font-size: 10px;
}

.search:focus ~ .form-icon {
  top: 38px;
  right: 1px;
  width: 80px;
  height: 24px;
}

.search:focus ~ .form_search {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 45px;
  right: 22px;
  opacity: 1;
  cursor: pointer;
}

.form-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  right: 15px;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: .3s;
}

